{% extends 'parts/layout.twig' %}

{% block title %}
	<title>Upster</title>
{% endblock %}


{% block content %}
{#MAIN WRAP#}
	<div class="main-wrap">
		{#CONTENT#}
		<div class="content">
			<div class="content__top">
				<div class="content__logo">
					<img src="img/logo.svg" alt="Upster people product service" class="content__logo-img">
				</div>
				<div class="content__text">
					<div class="info-box">
						<p>Рестораны, какими они должны быть.</p>

					<ul>
						<li>Управление.</li>
						<li>Консалтинг.</li>
						<li>Вдохновение.</li>
					</ul>

						<p>В деле с 2000 года.</p>
					</div>
				</div>
			</div>
			<div class="content__bottom">
				<div class="content__info">
					<p class="content__address">Новодмитровская улица, 2&nbsp;корп.&nbsp;1</p>
					<a href="mailto:info@upstergroup.ru " class="content__mail">info@upstergroup.ru</a>
					<a href="tel:+7 495 542-00-37" class="content__phone">+7&nbsp;495 662-94-55</a>
				</div>
				<div class="content__info">
					<p class="content__address">Трудоустройство</p>
					<a href="tel:+7 925 055-20-33" class="content__phone">+7&nbsp;925 055-20-33</a>
				</div>
				<div class="content__development">
					<p class="content__development-text">Сделано</p>
					<a href="http://digital.neq4.ru/" target="_blank" class="content__development-link">нек4</a>
				</div>
			</div>
		</div>
		{#/CONTENT#}

		{#SLIDER#}
		<div class="slider">
			{#BACKGROUND SLIDER#}
			<div class="slider__bg swiper-container" id="slider-bg">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slider__bg-item swiper-no-swiping" style="background-image: url(images/edge-img.jpg)"></div>
					</div>
					<div class="swiper-slide">
						<div class="slider__bg-item swiper-no-swiping" style="background-image: url(images/too-much-img.jpg)"></div>
					</div>
					<div class="swiper-slide">
						<div class="slider__bg-item swiper-no-swiping" style="background-image: url(images/lambic-img.jpg)"></div>
					</div>
					<div class="swiper-slide">
						<div class="slider__bg-item swiper-no-swiping" style="background-image: url(images/bbq-img.png)"></div>
					</div>
				</div>
				<div class="slider__bg-pagination top-swiper-pagination"></div>
				<div class="slider__info-pagination">
					<p class="slider__info-current js-slider-info-current"></p>
					<p class="slider__info-total js-slider-info-total"></p>
				</div>
			</div>
			{#BACKGROUND SLIDER#}

			{#INFO SLIDER#}
			<div class="slider__info swiper-container" id="slider-info">
				<div class="swiper-wrapper">
					<div class="swiper-slide swiper-no-swiping">
						<div class="slider__info-item">
							<a href="http://edgerestaurant.ru/" target="_blank" class="slider__info-item-logo">
								<img src="images/edge-logo.svg" alt="Edge вино/гриль" class="slider__info-item-logo-img">
							</a>
							<div class="slider__info-item-text-wrap">
								<div class="slider__info-item-text">
									<div class="info-box info-box_slider">
										<p>Edge&nbsp;&mdash; новый проект с&nbsp;утонченным дизайном, оригинальными блюдами с&nbsp;гриля и&nbsp;подборкой редких вин. Первый винный на&nbsp;Таганке!</p>
									</div>
								</div>
								<a href="http://edgerestaurant.ru/" target="_blank" class="slider__info-item-link">edgerestaurant.ru</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping">
						<div class="slider__info-item">
							<a href="http://toomuch.ru/" target="_blank" class="slider__info-item-logo">
								<img src="images/too-much-logo.svg" alt="Edge вино/гриль" class="slider__info-item-logo-img">
							</a>
							<div class="slider__info-item-text-wrap">
								<div class="slider__info-item-text">
									<div class="info-box info-box_slider">
										<p>В&nbsp;ресторане Too Much две основные темы: это высокого качества пиво и&nbsp;вино. Хедлайнер меню&nbsp;&mdash; национальная закуска из&nbsp;Дании&nbsp;&mdash; сморреброд с&nbsp;разнообразными намазками и&nbsp;начинками.</p>
									</div>
								</div>
								<a href="http://toomuch.ru/" target="_blank" class="slider__info-item-link">toomuch.ru</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping">
						<div class="slider__info-item">
							<a href="http://lambicbar.ru/" target="_blank" class="slider__info-item-logo">
								<img src="images/lambic-logo.svg" alt="Edge вино/гриль" class="slider__info-item-logo-img">
							</a>
							<div class="slider__info-item-text-wrap">
								<div class="slider__info-item-text">
									<div class="info-box info-box_slider">
										<p>Brasserie Lambic&nbsp;&mdash; сеть брассерий с&nbsp;шестилетней историей. Здесь гурманы могут насладиться впечатляющим разнообразием бельгийского пива и&nbsp;эксклюзивными блюдами фламандской и&nbsp;европейской кухни.</p>
									</div>
								</div>
								<a href="http://lambicbar.ru/" target="_blank" class="slider__info-item-link">lambicbar.ru</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide swiper-no-swiping">
						<div class="slider__info-item">
							<a href="http://birdbq.ru/" target="_blank" class="slider__info-item-logo">
								<img src="images/bbq-logo.svg" alt="Edge вино/гриль" class="slider__info-item-logo-img">
							</a>
							<div class="slider__info-item-text-wrap">
								<div class="slider__info-item-text">
									<div class="info-box info-box_slider">
										<p>Bird BQ&nbsp;&mdash; новая сеть от&nbsp;создателей Lambic и&nbsp;Too Much. Мясо птицы в&nbsp;лучшем виде, приготовленное на&nbsp;открытом огне. Скоро открытие!</p>
									</div>
								</div>
								<a href="http://birdbq.ru/" target="_blank" class="slider__info-item-link">birdbq.ru</a>
							</div>
						</div>
					</div>
				</div>
				<div class="slider__info-arrow-wrap">
					<a href="#" class="slider__info-arrow slider__info-arrow_prev swiper-button-prev"></a>
					<a href="#" class="slider__info-arrow slider__info-arrow_next swiper-button-next"></a>
				</div>
			</div>
			{#/INFO SLIDER#}
		</div>
		{#/SLIDER#}
	</div>
{#/MAIN WRAP#}
{% endblock %}
