.info-box {
	color: @text-color;
	font-size: @21;
	.regular();
	line-height: 1.43;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;

	&_slider {
		font-size: @15;
		color: white;
		line-height: 1.33;
	}

	p {
		margin-bottom: 15px;
		.regular();
		&:last-child {
			margin-bottom: 0;
		}
	}
	b, strong {
		.bold();
	}

	ul {
		margin-bottom: 15px;
	}
	li {
		margin-bottom: 1px;
	}
}

@media screen and (max-width: 350px) {
	.info-box {

		&_slider {
			font-size: @14;
		}
	}
}