.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 28px 40px 36px 37px;
	width: 480px;
	min-width: 480px;
	background: white;
	position: relative;

	&__top {
		display: flex;
		flex-direction: column;
	}
	&__logo {
		//width: 262px;
		//height: 120px;
		width: 286px;
		height: 150px;
		margin-bottom: 20px;
	}
	&__logo-img {
		max-width: 100%;
		max-height: 100%;
	}
	&__text {
		margin-left: 23px;
	}

	&__bottom {
		margin-left: 23px;
	}
	&__info {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
		&:nth-child(2) {
			margin-bottom: 20px;
		}
	}
	&__address {
		color: @text-color;
		font-size: @15;
		.regular();
		line-height: 1.33;
		-webkit-font-smoothing: subpixel-antialiased !important;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
	}
	&__phone {
		color: @text-color;
		font-size: @15;
		.regular();
		line-height: 1.33;
		text-decoration: none;
		-webkit-font-smoothing: subpixel-antialiased !important;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
	}
	&__mail {
		color: @text-color;
		font-size: @15;
		.regular();
		line-height: 1.33;
		text-decoration: none;
		-webkit-font-smoothing: subpixel-antialiased !important;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
	}

	&__development {
		display: flex;
	}
	&__development-text {
		color: @text-color;
		font-size: @15;
		.regular();
		line-height: 1.33;
		margin-right: 5px;
	}
	&__development-link {
		color: @text-color;
		font-size: @15;
		.regular();
		line-height: 1.33;
		text-decoration: none;
		transition: all .3s ease;
		&:hover {
			color: @red-color;
		}
	}
}


//Width media queries
@media screen and (max-width: 1000px) {
	.content {
		//height: auto;
		padding: 20px 40px 33px 20px;
		width: 100%;
		min-width: 100%;

		&__top {
			margin-bottom: 23px;
		}
		&__logo {
			margin-bottom: 14px;
		}
	}
}


//Height media queries
@media screen and (max-height: 600px) {
	.content {
		//height: auto;
		padding: 20px 40px 33px 20px;
		width: 100%;
		min-width: 100%;

		&__top {
			margin-bottom: 23px;
		}
		&__logo {
			margin-bottom: 14px;
		}
	}
}


//Width media queries
@media screen and (max-width: 350px) {
	.content {
		padding: 20px 20px 33px 0;

		&__logo {
			width: 266px;
			height: 140px;
		}
	}
}