.main-wrap {
	height: 100vh;
	display: flex;
}

//Width media queries
@media screen and (max-width: 1000px) {
	.main-wrap {
		height: auto;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
}


//Height media queries

@media screen and (max-height: 600px) {
	.main-wrap {
		height: auto;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
}
