.slider {
	display: flex;
	//flex-grow: 20;
	//height: 100%;
	//width: 100% - 33.3333333%;
	flex-grow: 20;
	//display: flex;
	flex-direction: column;
	//justify-content: space-between;

	&__bg {
		//height: calc(~"100% - (33.3333% / 2 )");
		flex-basis: calc(~"100% - 220px");
		flex-grow: 20;
		width: 100%;
		z-index: 10;
		position: relative;
	}
	&__bg-item {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	&__bg-pagination {
		right: 60px !important;
		top: 60px !important;
		position: absolute;
		z-index: 200;
		.swiper-pagination-bullet {
			background-color: rgba(0, 0, 0, 0.25);
			height: 1px;
			width: 40px;
			margin: 0 auto 10px auto !important;
			opacity: 1;
			&:last-child {
				margin-bottom: 0;
			}

		}
		.swiper-pagination-bullet-active {
			width: 60px;
		}
	}

	&__info {
		height: 240px;
		width: 100%;
		//padding: 56px 120px 40px 60px;
		padding: 51px 120px 40px 57px;
		position: relative;
		z-index: 20;
		background: @red-color;
	}
	&__info-item {
		//width: 100%;
		//height: 100%;
		display: flex;
		//padding: 40px 120px 40px 60px;
		//align-items: flex-start;
	}
	&__info-item-logo {
		width: 150px;
		min-width: 150px;
		height: 160px;
		margin-right: 30px;
	}
	&__info-item-logo-img {
		max-width: 100%;
		max-height: 100%;
	}
	&__info-item-text-wrap {
		width: calc(~"100% - 150px - 30px");
		padding-top: 7px;
	}
	&__info-item-text {
		margin-bottom: 5px;
		//width: 80%;
		width: 70%;
	}
	&__info-item-link {
		font-size: @15;
		.regular();
		line-height: 1.33;
		color: white;
		text-decoration: none;
		transition: all .3s ease;
		border-bottom: 1px solid rgba(255, 255, 255, 0.25);
		-webkit-font-smoothing: subpixel-antialiased !important;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		.no-touchevents & {
			&:hover {
				border-bottom-color: transparent;
			}
		}
	}

	&__info-arrow-wrap {
		position: absolute;
		top: 40px;
		right: 60px;
		width: 60px;
		height: 160px;
	}
	&__info-arrow {
		.svg-icon(icon-arrow-next, 36px, 60px);
		display: block;
		text-decoration: none;
		cursor: pointer;
		padding: 0;
		border: 0;
		-webkit-appearance: none;
		outline: none;
		z-index: 300;
		position: absolute;
		opacity: 1;
		left: 50% !important;
		margin-left: -18px;
		right: 0 !important;
		margin-top: 0 !important;
		.no-touchevents & {
			&:hover {
				opacity: 0.5;
			}
		}

		&_prev {
			//transform: rotate(90deg);
			margin-bottom: 40px;
			top: 0 !important;
		}
		&_next {
			transform: rotate(-180deg);
			bottom: 0 !important;
			top: auto !important;
		}
	}
	&__info-pagination {
		position: absolute;
		bottom: 0;
		left: auto;
		width: 60px;
		height: 60px;
		right: 60px;
		background: url(../img/fraction-bg.svg) no-repeat 0 0;
		background-size: cover;
		z-index: 200;
		color: transparent;
		.swiper-pagination-current {
			position: absolute;
			left: 10px;
			top: 10px;
			font-size: @21;
			.regular();
			color: @text-color;
		}
		.swiper-pagination-total {
			position: absolute;
			right: 10px;
			bottom: 10px;
			font-size: @21;
			.regular();
			color: @text-color;
		}
	}
}

//Width media queries
@media screen and (max-width: 1190px) {
	.slider {
		&__info-item-text {
			width: 80%;
		}
	}
}

@media screen and (max-width: 1100px) {
	.slider {

		&__info {
			padding: 30px 120px 40px 40px;
		}
		&__info-item-text {
			width: 90%;
		}
	}
}
@media screen and (max-width: 1000px) {
	.slider {
		width: 100%;

		&__bg {
			//height: 600px;
			min-height: 600px;
			max-height: 600px;
			//padding-bottom: 66.6666667%;
			position: relative;
		}

		&__info {
			height: auto;
			min-height: 240px;
			max-height: 240px;
			padding: 22px 95px 20px 20px;
		}
		&__info-item {
			padding: 0;
			height: auto;
		}
		&__info-item-logo {
			display: none;
		}
		&__info-item-text-wrap {
			width: 100%;
			padding-right: 50px;
		}
	}
}

@media screen and (max-width: 600px) {
	.slider {
		&__bg {
			min-height: 250px;
			max-height: 250px;
		}
		&__bg-pagination {
			display: none;
		}
		&__info-pagination {
			right: 20px;
		}
		&__info-item-text {
			width: 100%;
		}
		&__info-arrow-wrap {
			right: 20px;
			top: 30px;
		}
		&__info-item-text-wrap {
			padding-right: 0;
		}
	}
}


//Height media queries
@media screen and (max-height: 600px) {
	.slider {
		//height: auto;
		width: 100%;
		//justify-content: flex-start;
		//align-items: flex-start;

		&__bg {
			min-height: 250px;
			max-height: 250px;
			//padding-bottom: 66.6666667%;
			position: relative;
		}

		&__info {
			//height: 220px;
			height: auto;
			min-height: 220px;
			max-height: 220px;
			padding: 22px 95px 20px 20px;
		}
		&__info-item {
			padding: 0;
			height: auto;
		}
		&__info-item-logo {
			display: none;
		}
		&__info-item-text-wrap {
			width: 100%;
		}
	}
}


@media screen and (max-width: 350px) {
	.slider {

		&__info {
			padding: 12px 75px 20px 25px;
		}
		&__info-arrow-wrap {
			right: 10px;
		}
		&__info-pagination {
			right: 10px;
		}
	}
}